@import url("reset.css");
@import url("form.css");

body {
	padding: 1% 10%;
  font-family: Helvetica, sans-serif;
  line-height: 1.25;
}
h1 {
	font-size: 4em;
	line-height: 1.0;
	margin-bottom: 0.5em;
	font-weight: bold;
	text-align: center;
}
p {
	margin-bottom: 1em;
}
form {}
pre, code, textarea {
	font-family: Inconsolata, Consolas, monospace;
}
pre {}
em {
	font-style: italic;
}
strong {
	font-weight: bold;
}
/* Overrides */
.control .guide {
    font-size: 80%;
    color: #999;
}
.control .label {
	font-weight: bold;
}
.control .label .guide {
	font-weight: normal;
}

.new-response {
	border: solid 1px #ccc;
	border-style: solid none;
	padding-bottom: 1em;
}


.response {
	margin: 0.5em 0;
	padding: 0.5em 0;
	border-bottom: solid 1px #ccc;
}
.response .respondent {
	width: 75%;
	float: left;
	font-weight: bold;
}
.response .date {
	width: 25%;
	float: right;
	text-align: right;
}
.response .comment {
	clear: both;
	margin: 2em 0;
}















.editor textarea {
	height: 24em;
}


.editor .input {
	position: relative;
}
.editor .label {
	position: relative;
	z-index: 1000; /* HACK due to floats and z-index issues to get button above .input */
}
.editor .back {
	position: absolute;
	-webkit-box-sizing: border-box;
	top: 0;
	
	height: 100%;
	right: 0;
	left: 22%;
	overflow: auto;
	
	border: solid 1px #ccc;
}

.editor .front {
	z-index: 900;
	
	-webkit-transform: rotateY(0deg);
	-webkit-transform-style: preserve-3d;
	-webkit-backface-visibility: hidden;

	/* -- transition is the magic sauce for animation -- */
	transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-webkit-transition: all .4s ease-in-out;
	
}


.editor.flip .front {
	z-index: 900;
	-webkit-transform: rotateY(180deg);
}

.editor .back {
	z-index: 800;
	-webkit-transform: rotateY(-180deg);
	-webkit-transform-style: preserve-3d;
	-webkit-backface-visibility: hidden;

	/* -- transition is the magic sauce for animation -- */
	transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-webkit-transition: all .4s ease-in-out;
}

.editor.flip .back {
	z-index: 1000;
	-webkit-transform: rotateY(0deg);
}

/* -- X axis rotation for click panel -- */
.editor .front {
	-webkit-transform: rotateX(0deg);
}
.editor.flip .front {
	-webkit-transform: rotateX(180deg);
}
.editor .back {
	-webkit-transform: rotateX(-180deg);
}
.editor.flip .back {
	-webkit-transform: rotateX(0deg);
}