<routes xmlns="http://marklogic.com/router">
  <!-- Remember: You need to escape curly braces in 
       regular expression strings -->
  <route>
    <method>GET</method>
    <path trailing-slash="ignore">^/$</path>
    <redirect type="permanent">/questions</redirect>
  </route>
  <route>
    <method>GET</method>
    <path>^/favicon.ico$</path>
    <redirect type="permanent">/assets/favicon.ico</redirect>
  </route>
  <route>
    <annotation>Pass-through for everything in the assets directory.</annotation>
    <method>GET</method>
    <path>^/assets</path>
    <resolution>$0</resolution>
  </route>
  <route>
    <method>GET</method>
    <path>^/login$</path>
    <resolution>login.xqy</resolution>
  </route>
  <route>
    <method>POST</method>
    <path>^/login$</path>
    <resolution>login-handler.xqy</resolution>
  </route>
  <route>
    <method>POST</method>
    <path>^/logout$</path>
    <resolution>logout-handler.xqy</resolution>
  </route>
  <route>
    <method>GET</method>
    <path trailing-slash="ignore">^/questions$</path>
    <!-- Need to capture the query string. -->
    <resolution>questions.xqy$1</resolution>
  </route>
  <route>
    <method>GET</method>
    <path trailing-slash="ignore">^/questions$</path>
    <!-- Need to capture the query string. -->
    <resolution>questions.xqy$1</resolution>
    <parameters>q</parameters>
  </route>
  <route>
    <method>POST</method>
    <path trailing-slash="ignore">^/questions$</path>
    <resolution>create-new.xqy</resolution>
    <privilege>http://marklogic.com/socrates/new-question</privilege>
  </route>
  <route>
    <method>GET</method>
    <path trailing-slash="ignore">^/questions/new$</path>
    <resolution>new.xqy</resolution>
    <privilege>http://marklogic.com/socrates/new-question</privilege>
  </route>
  <route>
    <method>GET</method>
    <path trailing-slash="ignore">{'^/questions/([0-9]{15,25})$'}</path>
    <resolution>question.xqy?id=$1</resolution>
  </route>
  <route>
    <method>POST</method>
    <path trailing-slash="ignore">{'^/questions/([0-9]{15,25})/responses$'}</path>
    <resolution>add-response.xqy?id=$1</resolution>
    <privilege>http://marklogic.com/socrates/execute</privilege>
  </route>
  <route>
    <method>POST</method>
    <path trailing-slash="ignore">{'^/questions/([0-9]{15,25})/responses/([0-9]{15,25})/answer$'}</path>
    <resolution>answer.xqy?question=$1&amp;response=$2</resolution>
    <privilege>http://marklogic.com/socrates/execute</privilege>
  </route>
  <error>trap.xqy</error>
  <authenticate>/login</authenticate>
</routes> 